*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 100px;
}

.cart-logo{
    height: 25px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: right;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5 px;
    text-decoration: none;
    color: #d1d1d1;
    
    transition: .5s;
}

.link:hover{
    opacity: 1;
}